<% const chat = JSON.parse(conversation_history) %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChatGPT Chat Module</title>

    <!-- Uncommented styles that are not recommended to change for regular user -->
    <link rel="stylesheet" href="/chat_interface.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/github-dark.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script>hljs.highlightAll();</script>

</head>

<body>
    <!-- Some hidden data -->
    <span id="env" style="display: none;">
        <%= JSON.stringify(backend) %>
    </span>
    <span id="lang" style="display: none;">
        <%= JSON.stringify(lang) %>
    </span>
    <section class="component" 
        style="
            width: <%= config_style.width %>; 
            height: <%= config_style.height %>;
            background-color: <%= config_style.background_color %>;
            font-family: <%= config_style.font_family %>;
        ">

        <!-- Container to display errors -->
        <section class="error_box none">
            
        </section>

        <!-- Header of the page -->
        <header class="header" 
        style="
            color: <%= config_style.header.color.font %>;
            background-color: <%= config_style.header.color.background %>;
            box-shadow: <%= config_style.header.shadow %>;
            display: <%= config_style.header.hide === true ? 'none' : 'flex' %>
        ">
            <!-- Define a name of the GPT, either it's custom or it's default -->
            <% if(custom_names.gpt_name && custom_names.gpt_name.length > 0) { %>
                <%= custom_names.gpt_name %>
            <% } else { %>
                <%= default_name  %>
            <% } %>
        </header>

        <!-- Section with a chat -->
        <section class="chat" 
        style="
            height: calc(<%= config_style.height %> - (<%= config_style.header.hide === true ? '0px' : '75px' %> + 110px));
            margin-top: <%= config_style.header.hide === true ? '0px' : '75px' %>;
        ">
            <% chat.forEach(msg => { %>
                <% if(msg.role !== 'system') { %>
                    <% if(msg.role === 'assistant') { %>
                        <div class="gpt-message message"
                        style="
                            background-color: <%= config_style.messages.gpt.color.background %>;
                        ">
                            <div class="section-gpt-profile-picture section-profile-picture">
                                <div class="gpt-profile-picture profile-picture"><%= custom_names.short_gpt_name || 'GPT' %></div>
                            </div>
                            <div class="section-gpt-message-text section-message-text" style="color: <%= config_style.messages.gpt.color.font %>;"><%- marked.parse(msg.content) %></div>
                        </div>
                    <% } else if(msg.role === 'user') { %>
                        <div class="user-message message"
                        style="background-color: <%= config_style.messages.user.color.background %>;">
                            <div class="section-user-profile-picture section-profile-picture">
                                <div class="user-profile-picture profile-picture"><%= custom_names.short_user_name || 'User' %></div>
                            </div>
                            <div class="section-user-message-text section-message-text"
                            style="color: <%= config_style.messages.user.color.font %>;"><%= msg.content %></div>
                        </div>
                    <% } %>
                <% } %>
            <% }) %>
        </section>

        <!-- Bottom menu of the chat -->
        <section class="bottom-menu" 
        style="
            background-color: <%= config_style.background_color %>;
            box-shadow: 0px 0px 50px 50px <%= config_style.background_color %>;
        ">

            <!-- Bar with buttons -->
            <section class="button-bar">

                <!-- Button to stop gpt's answer generation -->
                <button class="stop-chat-button chat-button none" 
                    style="
                        background-color: <%= config_style.buttons.color.background %>;
                        color: <%= config_style.buttons.color.font %>;
                        border: <%= config_style.buttons.color.border %>;
                        border-radius: <%= config_style.buttons.rounding %>;
                    ">

                    <!-- Icon for the button -->
                    <% if(config_style.buttons.displayIcons) { %>
                        <img src="<%= config_style.buttons.stopButtonIconUrl %>" alt="stop-icon"/>
                    <% } %>

                    <%= locale.interface.stop_generating %>

                </button>

                <!-- Button to restart conversation -->
                <button class="restart-chat-button chat-button"
                style="
                    background-color: <%= config_style.buttons.color.background %> <%= config_style.buttons.color.hoverEffect ? '' : '!important' %>;
                    color: <%= config_style.buttons.color.font %>;
                    border: <%= config_style.buttons.color.border %>;
                    border-radius: <%= config_style.buttons.rounding %>;
                ">

                    <!-- Icon for the button -->
                    <% if(config_style.buttons.displayIcons) { %>
                        <img src="<%= config_style.buttons.restartButtonIconUrl %>" alt="restart-icon"/>
                    <% } %>

                    <%= locale.interface.restart_conversation %>

                </button>

            </section>

            <!-- Form to send message to chatGPT -->
            <form class="send-message-form" 
                style="
                    background-color: <%= config_style.input.color.background %>;
                    box-shadow: <%= config_style.input.shadow %>;
                    border-radius: <%= config_style.input.rounding %>;
            ">

                <!-- Text area to make a request to GPT -->
                <textarea 
                    autocomplete="off"
                    autocorrect="on" 
                    required 
                    autofocus
                    class="send-message-input" 
                    placeholder="<%= locale.interface.send_message %>"
                    style="color: <%= config_style.input.color.font %>;"
                ></textarea>

                <!-- Button to send message -->
                <button class="send-message-button"><img src="/icons/send_icon.svg" alt="send-icon"/></button>
            </form>

            <!-- Message to thank creators -->
            <div class="small-message">
                <%= locale.interface.embedded %> <a href="https://chat.openai.com/">ChatGPT</a> <%= locale.interface.chat_by %> <a href="https://nitro-storm.ru">StormShop</a>
            </div>
        </section>
    </section>

    <!-- Script to load NodeJS library "socket.io" -->
    <script src="/socket.io/socket.io.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <!-- Script with main basic JavaScript code -->
    <script src="/chat_interface.js"></script>
</body>

</html>